﻿@{
  string _classSearch = Session["idEventList"] == null ? "search" : "filterListEventsProducts";
  string _classMiniCart = Session["idEventList"] == null && Session["EventList"] == null ? "mini-cart" : "mini-cart-list-event";
}
<div class="ui container fluid _header">
    <div class="ui container">
        <div class="ui middle aligned four column centered grid">
            <div class="row">

                <div class="ui sixteen wide mobile seven wide tablet four wide computer column ">
                    <div class="info-contact">
                        <li>
                            <ul>
                                <li><span><i class="mobile alternate icon ipad-contato" style="font-size:70px !important; color: rgb(197,163,106);"></i></span></li>
                            </ul>
                            <ul>
                                <li><span>Fale com a Borello</span></li>
                                <li><span>(xx) xxxx-xxxx</span></li>
                                <li><span>Central de atendimento</span></li>
                            </ul>
                        </li>
                    </div>
                </div>

                <div class="ui sixteen wide mobile five wide tablet three wide computer column ">
                    <a href="/Home" title="Página Inicial">
                        <img class="ui middle aligned image logo ipad-logo" src="/assets/image/logo/logoborellobege.png" alt="@LojaCorp.Control.Company._Company.FantasyName" title="@LojaCorp.Control.Company._Company.FantasyName">
                    </a>
                </div>

                <div class="ui center aligned eight wide tablet five wide computer column searchcolumn" >
                    <div class="ui category @_classSearch" style="width: 70%;">
                        <div class="ui icon input fluid">
                            <input class="prompt" type="text" placeholder="Pesquisar produtos...">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
                @{
                    bool isb2b = Session["segment"] != null && Session["segment"].ToString() == "b2b" ? true : false;
                    DomainAssistedSale.Entities.Seller _assistedSale = (DomainAssistedSale.Entities.Seller)Session["Seller"];
                    bool isAssistedSale = _assistedSale != null ? true : false;

                    if (!isb2b && !isAssistedSale)
                    {
                        <div class="ui center aligned two wide mobile three wide tablet two wide computer column">
                            <div>
                                <a href="/Customer/WishList"><i class=" icon heart outline large espaco ipad-icon" style=" color: black; position: absolute; margin-left:80px;"></i></a>
                                @{
                                    if (Request.Cookies["WishList"] == null)
                                    {
                                        @Html.Action("LoadWishListCookie", "Customer")
                                    }

                                    List<DomainCustomer.Entities.Wishlist.WishlistItem>
                                        wishList = Newtonsoft.Json.JsonConvert.DeserializeObject<List<DomainCustomer.Entities.Wishlist.WishlistItem>>(Request.Cookies["WishList"] != null ? HttpUtility.UrlDecode(Request.Cookies["WishList"].Value) : string.Empty);
                                    int wishListItemsCount = wishList != null ? wishList.Count() : 0;
                                }
                               <a id="wishListCount" href="/Customer/WishList" class="ui circular label ipad-icon" style="color: black; margin-left:80px;">@wishListItemsCount</a>
                            </div>
                             
                        </div>
                    }
                }
                <div class="ui right aligned eight wide mobile four wide tablet two wide computer column  ">
                    <div id="cartButton" class=" ui labeled button cartbutton no margin bottom ipad-cart @_classMiniCart" tabindex="0" data-segment="@(Session["segment"] != null ? Session["segment"] : "b2c")" style="margin-right:30px;">
                        <div class="ui basic  button " style="color: rgb(37,35,43);">
                            <i class="shopping bag icon black" ></i>
                            <!--<span>@(Session["idEventList"] == null && Session["EventList"] == null ? "Meu Carrinho" : "Minha Lista")</span>-->
                        </div>
                        <a class="ui left pointing black label" id="total_itens_card">
                            @{
                                if (Session["EventList"] == null)
                                {
                                    @Html.Action("TotalItensCart", "Checkout")
                                }
                                else
                                {
                                    @Html.Action("TotalItensList", "EventList")
                                }
                            }

                        </a>
                    </div>
                    <div class="ui searchMobile mobile only">
                        <div class="ui button icon centered">
                            <i class="search icon black"></i>
                        </div>
                        <div class="ui blocoBusca @_classSearch">
                            <div class="ui input fluid blocoBuscaContainer">
                                <input class="prompt" type="text" placeholder="Buscar...">
                                <i class="search icon search-results"></i>
                                <i class="close icon disabled" id="closeResultsMobile"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
