﻿<div class="ui grid middle aligned center aligned" id="registerAddressPayment">
    <form method="post" name="disparaForm" id="disparaForm">
        <div class="row one column">
            <div class="column">
                <div class="ui basic segment">
                    <div class="ui grid stackable top aligned left aligned grid">
                        <div class="row one column horizontal">
                            <div class="column">
                                <div class="ui form">
                                    <h4 class="ui dividing header">Informações do Endereço</h4>
                                    <div class="field required">
                                        <label>Identificação</label>
                                        <div class="ui left icon input">
                                            <i class="user icon"></i>
                                            <input type="text" required name="Identification" id="Identification" placeholder="Ex: Casa, Trabalho, etc...">
                                        </div>
                                    </div>
                                    <div class="field required">
                                        <label>Destinatário</label>
                                        <div class="ui left icon input">
                                            <i class="user icon"></i>
                                            <input type="text" required name="Receiver" id="Receiver" placeholder="Nome do Destinatário"
                                                   data-validate="name">
                                        </div>
                                    </div>
                                    <div class="two fields">
                                        <div class="field required">
                                            <label>Telefone</label>
                                            <div class="ui left icon input">
                                                <i class="phone icon"></i>
                                                <input type="text" required name="PhoneContact"
                                                       id="PhoneContact"
                                                       placeholder="(00) 00000-0000" class="masked mask_phone"
                                                       data-validate="phone">
                                            </div>
                                        </div>
                                        <div class="field required">
                                            <label>Tipo do Endereço</label>
                                            <select name="CommercialResidentialAddress" id="CommercialResidentialAddress" required class="ui dropdown">
                                                <option value="">Selecione</option>
                                                <option value="1">Residencial</option>
                                                <option value="0">Comercial</option>
                                            </select>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="column">
                                <div class="ui form">
                                    <h4 class="ui dividing header">Endereço</h4>
                                    <div class="two fields required">
                                        <div class="field  required">
                                            <label>CEP</label>
                                            <div class="ui left icon input">
                                                <i class="marker icon"></i>
                                                <input type="text" required id="zipCode" name="zipCode" placeholder="00000-000" class="masked mask_zipcode" data-validate="ZipCode">
                                            </div>
                                        </div>
                                        <div class="field required">
                                            <div class="busca cep">
                                                <p>
                                                    Não sabe o seu CEP? <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/"
                                                                           target="_blank">Consulte Aqui</a>.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field required">
                                        <label>Endereço</label>
                                        <div class="ui input">
                                            <input type="text" required id="StreetAddress" name="StreetAddress"
                                                   placeholder="Endereço" data-validate="empty">
                                        </div>
                                    </div>
                                    <div class="three fields">
                                        <div class="field required">
                                            <label>Número</label>
                                            <div class="ui input">
                                                <input type="text" required name="Number" id="Number" placeholder="Número" maxlength="10"
                                                       data-validate="empty">
                                            </div>
                                        </div>
                                        <div class="field  required">
                                            <label>Complemento</label>
                                            <div class="ui input">
                                                <input type="text" id="Complement" name="Complement"
                                                       placeholder="Ex: ap. 123">
                                            </div>
                                        </div>
                                        <div class="field required">
                                            <label>Bairro</label>
                                            <div class="ui input">
                                                <input type="text" required id="Neighbourhood" placeholder="Bairro"
                                                       name="Neighbourhood"
                                                       data-validate="empty">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="two fields">
                                        <div class="field required">
                                            <label>Cidade</label>
                                            <div class="ui input">
                                                <input type="text" required id="City" name="City" placeholder="Cidade"
                                                data-validate="empty">
                                            </div>
                                        </div>
                                        <div class="field required">
                                             <label>Estado</label>
                                            <select name="estados"  required class="ui dropdown">
                                        
                                                
                                                    <option class= "" value="">Selecione</option>
                                                    <option class= "item" value="AC">Acre</option>
                                                    <option class= "item" value="AL">Alagoas</option>
                                                    <option class= "item" value="AP">Amapá</option>
                                                    <option class= "item" value="AM">Amazonas</option>
                                                    <option class= "item" value="BA">Bahia</option>
                                                    <option class= "item" value="CE">Ceará</option>
                                                    <option class= "item" value="DF">Distrito Federal</option>
                                                    <option class= "item" value="ES">Espírito Santo</option>
                                                    <option class= "item" value="GO">Goiás</option>
                                                    <option class= "item" value="MA">Maranhão</option>
                                                    <option class= "item" value="MT">Mato Grosso</option>
                                                    <option class= "item" value="MS">Mato Grosso do Sul</option>
                                                    <option class= "item" value="MG">Minas Gerais</option>
                                                    <option class= "item" value="PA">Pará</option>
                                                    <option class= "item" value="PB">Paraíba</option>
                                                    <option class= "item" value="PR">Paraná</option>
                                                    <option class= "item" value="PE">Pernambuco</option>
                                                    <option class= "item" value="PI">Piauí</option>
                                                    <option class= "item" value="RJ">Rio de Janeiro</option>
                                                    <option class= "item" value="RN">Rio Grande do Norte</option>
                                                    <option class= "item" value="RS">Rio Grande do Sul</option>
                                                    <option class= "item" value="RO">Rondônia</option>
                                                    <option class= "item" value="RR">Roraima</option>
                                                    <option class= "item" value="SC">Santa Catarina</option>
                                                    <option class= "item" value="SP">São Paulo</option>
                                                    <option class= "item" value="SE">Sergipe</option>
                                                    <option class= "item" value="TO">Tocantins</option>
                                               
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input name="Country" type="hidden" id="Country" value="Brasil" />
    </form>
</div>