﻿@{
    List<DomainSocialNetwork.Entities.SocialNetwork> redesSociais = Session["SocialNetworkLinks"] != null ? (List<DomainSocialNetwork.Entities.SocialNetwork>)Session["SocialNetworkLinks"] : new List<DomainSocialNetwork.Entities.SocialNetwork>();
}

<div class="ui container fluid newsletter-bar">
    <div class="ui text container">
        <div class="ui grid middle aligned">
            <div class="row stackable">
                <div class="column">
                    <div class="ui form">
                        <div class="fields margin none">

                            <div class="field">
                                <span class="text texto-footer" style="font-size: 24px">
                                    Cadastre seu e-mail e receba novidades e ofertas
                                </span>
                               <div class="ui action input busca_email">
                                    <input type="text" placeholder="Digite seu E-mail..." style="border:none !important">
                                    <button class="ui button" style="border-radius: 0px 2.28571429rem 2.28571429rem 0px !important; background-color: rgb(253,190,38) !important; ">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui container fluid vertical segment footer">
    <div class="ui container">
        <div class="ui center aligned container">
            <div class="ui stackable inverted grid">
                <div class="three wide column">
                    <a href="/Home" title="Página Inicial">
                        <img class="ui middle aligned image logo" src="/assets/image/logo/logoborellobege.png" alt="@LojaCorp.Control.Company._Company.FantasyName" title="@LojaCorp.Control.Company._Company.FantasyName">
                    </a>
                </div>

                <!--
                <div class="three wide column">
                <h4 class="ui inverted header"><font style="vertical-align: inherit ;"><font style="vertical-align: inherit;">Atendimento ao cliente</font></font></h4>
                <div class="ui inverted link list">
                    <a href="#" class="item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Entrar em contato</font></font></a>
                    <a href="#" class="item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Perguntas frequentes</font></font></a>
                    <a href="#" class="item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Atendimento ao revendedor</font></font></a>
                    <a href="#" class="item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Catálogos</font></font></a>
                </div>
                </div>
                     <div class="three wide column">
                        <div class="column seven wide tablet sixteen wide computer margin bottom large">
                             <h4 class="ui inverted header">FORMAS DE PAGAMENTO</h4>
                             @Html.Partial("~/Views/Shared/Common/_Payments_List.cshtml")
                        </div>
                            <div class="column seven wide tablet sixteen wide computer middle aligned">
                                <h4 class="ui inverted header">SEGURANÇA</h4>
                                <div class="ui horizontal list selos">
                                    @Html.Action("EBit", "Company")
                                    @Html.Action("GetCompanySeal", "Company")
                                    @*
                                        <div class="item">
                                            <img src="//assets.pagseguro.com.br/ps-integration-assets/banners/seguranca/seguranca_125x125.gif" alt="Banner PagSeguro" title="Compre com PagSeguro e fique sossegado">
                                        </div>
                                    *@
                                </div>
                            </div>
                        </div>-->
                
                  <div class="three wide column">
                    <div class="row one column no padding listMobile">
                       <h4 class="ui inverted header"> <a href="https://borellojoias.plataformaneo.com.br/institucional/1390/5142" style="color:black !important">institucional</a></h4>
                         @Html.Action("CustomPages", "Home")
                   </div>
                </div>

                <div class="three wide column">
                    <h4 class="ui inverted header"><font style="vertical-align: inherit ;"><font style="vertical-align: inherit;">Site Borello</font></font></h4>
                    <div class="ui inverted link list">
                        <a href="https://borellojoias.plataformaneo.com.br/" class="item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lançamentos</font></font></a>
                        <a href="#" class="item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Brincos</font></font></a>
                        <a href="#" class="item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pulseiras</font></font></a>
                        <a href="#" class="item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Anéis</font></font></a>
                    </div>
                </div>
               
                <div class="four wide column">
                <div class="ui grid stackable">
                    <div class="row one column no padding listMobile">
                        @Html.Action("GetList", "EventList")
                        <div class="column">
                            <h4 class="ui inverted header">Contato</h4>
                            <div class="ui inverted link list">
                                <h4 class="ui inverted header">contatoborello@borellojoias.com.br</h4>
                                <h5><i class="phone icon black"></i>(15) 99752-7687</h5>
                                <h5><i class="phone icon black"></i>(15) 99752-1141</h5>
                                <h4 class="ui inverted header">Fale Conosco</h4>
                                <h4 class="ui inverted header">Redes Sociais</h4>
                                
                                <socialbar>

                                    @if (redesSociais.Find(f => f.Identifier == "facebook") != null)
                                    {
                                       <a class="text color black" href="https://pt-br.facebook.com/joiasborello/" target="_blank">
                                            <i class="facebook icon black"></i>
                                        </a>
                                    }
                                    @if (redesSociais.Find(f => f.Identifier == "instagram") != null)
                                    {
                                        <a class="text color black" href="https://www.instagram.com/borellojoias/" target="_blank">
                                            <i class="instagram icon black"></i>
                                        </a>
                                    }
                                    @if (redesSociais.Find(f => f.Identifier == "twitter") != null)
                                    {
                                        <a class="text color white black" href="@redesSociais.Find(f => f.Identifier == "twitter").Content" target="_blank">
                                            <i class="twitter icon black"></i>
                                        </a>
                                    }
                                    @if (redesSociais.Find(f => f.Identifier == "youtube") != null)
                                    {
                                        <a class="text color white" href="@redesSociais.Find(f => f.Identifier == "youtube").Content" target="_blank">
                                            <i class="youtube icon"></i>
                                        </a>
                                    }
                                    @if (redesSociais.Find(f => f.Identifier == "google plus") != null)
                                    {
                                        <a class="text color white" href="@redesSociais.Find(f => f.Identifier == "google plus").Content" target="_blank">
                                            <i class="google plus icon black"></i>
                                        </a>
                                    }
                                    @if (redesSociais.Find(f => f.Identifier.ToUpper() == "WHATSAPP") != null)
                                    {
                                        string urlWhasapp = HttpContext.Current.Request.Url.ToString();
                                        if (urlWhasapp.Contains("?"))
                                        {
                                            urlWhasapp = urlWhasapp.Split('?')[0];
                                        }
                                        <a class="text color white" href="https://api.whatsapp.com/send?text=@urlWhasapp" target="_blank" title="WHATSAPP">
                                            <i class="whatsapp icon"></i>
                                        </a>
                                    }
                                    @if (redesSociais.Find(f => f.Identifier.ToUpper() == "BLOGER") != null)
                                    {
                                        <a class="text color white" href="@redesSociais.Find(f => f.Identifier == "bloger").Content" target="_blank" title="Blogger">
                                            <i class="wpforms icon"></i>
                                        </a>
                                    }
                                </socialbar>   
                                
                            </div>
                                <div class="ui divider hidden"></div>
                                <div class="ui tiny images">
                                    <a href="https://sinalizeweb.com.br/" target="_blank">
                                    <img class="ui image" src="~/assets/image/selos/sinalizeweb.png">
                                     </a>
                                     <a href="https://www.jetecommerce.com.br/" target="_blank">
                                    <img class="ui image" src="~/assets/image/selos/jet.png">
                                     </a>
                             </div>
                             </div>

                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui container fluid vertical  subFooter">
    <div class="ui container">
        <div class="ui column grid">
            <div class="row stackable">
                <div class="column text small textoEmpresa">
                    <h6>@LojaCorp.Control.Company._Company.FantasyName</h6> -
                    <address>
                        @LojaCorp.Control.Company._Company.ComplementText
                        <br />
                        @{
                            string complementAddress = LojaCorp.Control.Company._Company.Complement != "" ? " " + LojaCorp.Control.Company._Company.Complement + ", " : "";
                        }
                        @string.Format("{0}, {1}{2}", LojaCorp.Control.Company._Company.Address, complementAddress, LojaCorp.Control.Company._Company.Neighbourhood) |
                        @string.Format("{0}-{1}-{2}", LojaCorp.Control.Company._Company.CEP, LojaCorp.Control.Company._Company.City, LojaCorp.Control.Company._Company.State) |
                        CNPJ: @LojaCorp.Control.Company._Company.CNPJ
                    </address>
                      
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-block">

</div>


@*teste pablo*@

